#confetti_0
	#confetti_1
		#confetti_2
			#confetti_3
				#main
					h1 CSS Selector Practice
					p.intro Hey guys, this is a little site to test your css wits, and hopefully give you a little bit of automated feedback. Please enter the css selector that 
						i best 
						| matches the prompt. 
						br
						span.sign - Jared and Zack
					- each question in test
						.question!=partial('./partials/question', {question: question})
					.score score: 
						span.right 0 
						| / 
						span.total 0 
					.result
!=partial('./partials/gauges')