#main
	h1 CSS Selector Practice
	p.intro Hey guys, this is a little site to test your css wits, and hopefully give you a little bit of automated feedback. Please enter the css selector that 
		i best 
		| matches the prompt. 
		br
		span.sign - Jared and Zack
	.question
		p.prompt Select all the links within the element that has id "description".
		input(value="#description a")
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the elements with class="box" that are immediate children of divs \(not grandchildren).
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the headers \(h1-h6) on a page.
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the links which have href="/destination".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the password inputs on the page.
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select the element with id="wrapper".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the elements with class="class_one" or class="class_two".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select both all the divs with class="sub_div" that are descendants of the element with id="main_div" and all of the list items within unordered lists that have class="special_list".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select the heading 1 \(specifically, not just any element) with id="main_heading".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all of the list items with class="important_item" within unordered lists that have class="important_list" within divs that have class="important_div" within the element that has id="main".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the inputs with class="classified".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select everything.
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the tables on the page.
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select the element with id="footer".
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.question
		p.prompt Select all the inputs, textareas, and buttons.
		input
		.submit check
		.true(style="display:none;") correct!
		.false(style="display:none;") oops! Try again.
	.score score: 
		span.right 0 
		| / 
		span.total 0 
	.result
		