!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/javascripts/snowfall.min.jquery.js")
    script(src="/javascripts/main.js")
  body!= body